<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignalR Apr</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href="http://cdn.jsdelivr.net/bootstrap.metismenu/1.1.0/css/metismenu.min.css" type="text/css" rel="stylesheet" />

    <link href="~/Content/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Content/app.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapSignalR")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/smoothie")
    

</body>
</html>